<% breadcrumb :new %>
<h1>トピック新規作成</h1>
<%= form_for @topic, :url => {:action => 'create'} do |f| %>
    <%= f.text_field :title %>
    <%= f.submit %>
<% end %>
<%= link_to :back do %>
  <button class="btn btn-primary">戻る</button>
<% end %>
