// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.newtopic{
  border-top:solid whitesmoke;
//   background-color: brown;
}

.new {
    text-align: center;
}

.newcomment {
    margin:0px 40px;
}